# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/npm-debug.log*

/webpack-demo/node_modules
/webpack-demo/dist

# production
/dist

# misc
.DS_Store